##############################
# Node & Package Managers
##############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

##############################
# Build Output
##############################
dist/
dist-ssr/
build/
*.local

##############################
# Environment Files
##############################
.env
.env.local
.env.development
.env.production
.env.test


##############################
# Logs
##############################
logs/
*.log
*.log.*

##############################
# System Files
##############################
.DS_Store
Thumbs.db

##############################
# IDE / Editor Files
##############################
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

##############################
# TypeScript
##############################
*.tsbuildinfo

##############################
# Cache
##############################
.cache/
.vite/
.eslintcache/
